<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985024137205-gqokfpk44735l3vs8671vj8t3fpmq28m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985024137205-gqokfpk44735l3vs8671vj8t3fpmq28m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>985024137205-20fa0amjp2lpr2svgoldd9ap85f5pu1u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDA1MFMAotZm0WU-JG2JSWsRg7oG-wgvhY</string>
	<key>GCM_SENDER_ID</key>
	<string>985024137205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acacy.erp</string>
	<key>PROJECT_ID</key>
	<string>acacy-prol</string>
	<key>STORAGE_BUCKET</key>
	<string>acacy-prol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985024137205:ios:23acff71a5117e52bf82bc</string>
</dict>
</plist>